{% extends "base_generic.html" %}

{% block content %}
    <h1>Заемные компании</h1>

    {% if companyinstance_list %}
    <ul>

      {% for companyinst in companyinstance_list %}
      <li class="{% if companyinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'company-detail' companyinst.company.pk %}">{{companyinst.company.title}}</a> ({{ companyinst.due_back }})
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>Нет заемных компаний</p>
    {% endif %}
{% endblock %}
